h1 {
  font-family: "Times New Roman"; }

.bookcard {
  border-color: #4286f4; }

.cdcard {
  border-color: #f4c646; }

.furniturecard {
  border-color: #f44688; }

.addpagebutton {
  background-color: #ff0000;
  color: #e0e0e0; }

.indexpagebtn {
  position: absolute;
  right: 20px;
  top: 40px;
  width: 10%;
  background-color: #ff0000;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  color: #e0e0e0; }

.indexpagebtnfade {
  transition: .5s ease;
  background-color: #cc0000;
  opacity: 0; }

.indexpagebtn:hover .indexpagebtnfade {
  opacity: 1; }

/*# sourceMappingURL=style.css.map */
