$bookcardcolor: #4286f4;
$cdcardcolor: #f4c646;
$furniturecardcolor: #f44688;
$red: #ff0000;
$offwhite: #e0e0e0;
$redfade: #cc0000;
$titlefont: 'Times New Roman';

@import 'mixins';

h1{
font-family: $titlefont;
}

.bookcard{
border-color: $bookcardcolor;
}
.cdcard{
border-color: $cdcardcolor;
}
.furniturecard{
border-color: $furniturecardcolor;
}
.addpagebutton{
background-color: $red;
color: $offwhite;
}
.indexpagebtn{
position: absolute;
right: 20px;  
top: 40px; 
width: 10%;
background-color: $red;
@include border-radius(10px);
color: $offwhite;
}
.indexpagebtnfade{
transition: .5s ease;
background-color: $redfade;
opacity: 0;
}
.indexpagebtn:hover .indexpagebtnfade{ 
  opacity: 1;
}